<%- include("../base/header.ejs")%>
    <div class="container">
        <h1 style="text-align: center;">Courses</h1>
        <a class="btn btn-success" style="    position: absolute;
        top: 10%;
        right: 3%;" href="\courses\add">Add Course</a>
        <table class="table table-striped table-secondary">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Course Name </th>
                    <th scope="col">Lecture Hours</th>
                    <th scope="col">lab Hours</th>
                </tr>
            </thead>
            <tbody>
                <%for (course of courses){%>
                    <tr id="<%=course['_id']%>">
                        <th scope="row">
                            <%=course['_id']%>
                        </th>
                        <td>
                            <%=course["name"]%>
                        </td>
                        <td>
                            <%= course["lectureHours"]%>
                        </td>
                        <td>
                            <%= course["labHours"]%>
                        </td>
                        <td>
                            <a type="submit" href="edit?id=<%= course['_id']%>" class="btn btn-primary">edit</a>
                        </td>
                        <td>
                            <form action="/courses/delete" method="POST">
                                <input  type="hidden" name="_id" id="_id" value="<%=course['_id']%>">
                                <input type="submit"  class=" btn btn-danger" value="Delete"></input>
                            </form>
                        </td>
                    </tr>
                    <%}%>
            </tbody>
        </table>

    </div>
    <%- include("../base/footer.ejs")%>