<%- include("header.ejs")%>

        <h1>Instructors</h1>
        <a href="\instructors\add">Add Student</a>
        <table>
            <thead>
                <th>
                    Instructor Name
                </th>
                <th>Department</th>
            </thead>
            <tbody>
              
                <%for (instructor of instructors){%>
                <tr id="<%=instructor['_id']%>">
                    <td>
                        <%=instructor["fullname"]%>
                    </td>
                    <td>
                        <%= instructor["department"]["name"]%>
                    </td>
                    <td>
                        <button onClick="edit(<%= instructor['_id'] %>)">edit</button>
                    </td>
                    <td>
                        <button onClick="remove(<%= instructor['_id'] %>)">delete</button>
                    </td>
                </tr>
                <%}%>
                  
            </tbody>
        </table>
        <script>
                function edit(id){
                    //$ajaxCode 
                }
                function remove(id){
                    //$ajaxCode
                $.ajax({
                url: "http://localhost:8080/instructors/delete/"+id,
                method: "POST",
                contentType: "application/json",
                data: JSON.stringify({ id }),
                dataType: "json",
                success: function (result) {
                    $("#"+id+"").remove();
                    // document.getElementById(id).remove();
                    // window.location.reload();
                },
                error: function (error) {
                    console.log(error + "");
                }
            });
                    
                }


        </script>
<%- include("footer.ejs")%>


