<%- include("../base/header.ejs")%>
    <div class="container">
        <h1 style="text-align: center;">Students</h1>
        <a class="btn btn-success" style="    position: absolute;
        top: 10%;
        right: 3%;" href="\students\add">Add Student</a>
        <table class="table table-striped table-secondary">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Student Name</th>
                    <th scope="col">Department</th>
                </tr>
            </thead>

            <tbody>
                <%index=1;%>
                <% for (student of students){ %>
                    <tr id="<%=student['_id']%>">
                        <td>
                            <%=index%>
                        </td>
                        <td>
                            <%=student["fullname"]%>
                        </td>
                        <td>
                            <%if(student["department"]){%>

                            <%= student["department"]["name"]%>
                            <%}%>
                        </td>

                        <td>
                            <a type="submit" href="edit?id=<%= student['_id']%>" class="btn btn-primary">edit</a>
                        </td>
                        <td>
                            <form class="Delete" action="/students/delete" method="POST">
                                <input  type="hidden" name="_id" id="_id" value="<%=student['_id']%>">
                                <input type="submit"  class=" btn btn-danger" value="Delete"></input>
                            </form>
                        </td>
                    </tr>
                    <%index+=1;%>
                    <%}%>

            </tbody>
        </table>

    </div>
    <%- include("../base/footer.ejs")%>