<%- include("../base/header.ejs")%>
    <style>
        h1 {
            margin-top: 4%;
        }
    </style>
    <h1>Edit Instructor</h1>
    <form action="\instructors\edit" method="POST">
        <input type="hidden" class="form-control" name="_id" id="_id" value="<%=instructor['_id']%>">

        <div class="form-group">
            <label for="fullname">fullname</label>
            <input type="text" class="form-control" name="fullname" id="fullname" value="<%=instructor['fullname']%>">
        </div>
        <div class="form-group">
            <label for="mobile">mobile Phone</label>
            <input type="text" class="form-control" name="mobile" id="mobile" value="<%=instructor['mobile']%>">
        </div>
        <div class=" form-group ">
            <label for="exampleFormControlSelect1 ">Department</label>
            <select class="form-control " id="exampleFormControlSelect1 " name="department ">
                <%for (dept of departments){%>
                    <%if(dept['_id']==instructor['department']){%>
                    <option selected value=<%=dept['_id']%>><%=dept['name']%></option>
                    <%}else{%>
                        <option value="<%=dept['_id']%>"><%=dept['name']%></option>

                    <%}}%>
		    </select>
        </div>
        <input type="submit" class="btn btn-success " style="margin-left: 40%;" value="Save Instructor" />
    </form>
    <%- include("../base/footer.ejs")%>